* {
  font-family: "Rajdhani";
  box-sizing: border-box;
  margin: 0;
}

:root {
  --so: #4ADE80;
}

body {
  background: #101010;
  color: #FFF;
}

a {
  text-decoration: none;
  color: unset;
}

.dapp {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.bg {

     background-image: linear-gradient(transparent, hsla(142, 69%, 58%, 0.15)),
        linear-gradient(-90deg, transparent 25%, rgba(0, 0, 0, 0.5)), url("./bg.jpg");

  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -10;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: absolute;
}

body .hidden {
  display: none;
}

@media (max-width: 768px) {
  .dapp {
    padding: 1rem;
  }

  .bg {
    background-image: linear-gradient(transparent, hsla(142, 69%, 58%, 0.075)),
      radial-gradient(transparent, hsla(0, 0%, 0%, 0.5));
  }
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo>div {
  font-size: 1.75rem;
  /* آیکون */
}

.logo span {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.socials {
  display: none;
  gap: 1.25rem;
  margin-top: 0.25rem;
}

.menu button {
  cursor: pointer;
  padding: 0.7rem 0 0.6rem 0;
  width: 9rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 900;
  border: none;

  color: #000;
  background-color: var(--so);
}


@media (min-width: 768px) {
  .socials {
    display: flex;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */



footer {
  position: relative;
  font-size: 0.75rem;
}

footer .info {
  display: flex;
  justify-content: space-between;
}

footer nav {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
}

footer nav a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

footer nav a.disabled {
  opacity: 0.25;
  pointer-events: none;
}

footer nav .action {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer nav .action button {
  background: #4ade80;
  /* green-400 */
  color: #000;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}


@media (max-width: 768px) {

  footer nav {
    display: flex;
  }

  footer .info {
    display: none;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */






main {
  position: relative;
  flex: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main h1 {
  font-size: 2.25rem;
  /* mobile: text-4xl */
  line-height: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--so);
}

@media (min-width: 768px) {
  main article {
    width: 50%;
  }

  main h1 {
    font-size: 3.75rem;
    /* md:text-6xl */
    line-height: 2.75rem;
  }

  main h2 {
    font-size: 1.25rem;
  }
}

main h2 {
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  font-size: 0.85rem;
}

main p {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  main p {
    font-size: 1rem;
  }
}




.stats {
  text-align: center;
}

@media (min-width: 768px) {
  .stats {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: left;
  }
}

.stats span {
  color: var(--so);
  font-size: 5rem;
  line-height: 3.5rem;
}

.stats p {
  text-transform: uppercase;
  margin-left: 0;
}

@media (min-width: 768px) {
  .stats p {
    margin-left: 0.5rem;
  }
}





.check {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 30%;
}

@media (max-width: 768px) {

  .check {
    width: 100%;
  }

}

.check p {
  padding-left: 0.5rem;
  font-size: 0.75rem;
  opacity: 0.75;
}

.check span {
  color: var(--so);
  font-weight: 900;
}

.check .frm {
  display: flex;
  gap: 1rem;
}

.frm input {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 2.5rem;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.frm button {
  text-transform: uppercase;
  height: 2.5rem;
  background-color: var(--so);
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 900;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.frm button:hover {
  transform: translateX(0.5rem);
}














.wallet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.wallet>div:first-child {
  display: flex;
  gap: 6rem;
}

.wallet>div:first-child .col {
  display: flex;
  align-items: center;
  flex-direction: column;

}


@media (max-width: 768px) {
  .wallet {
    padding: 0;
  }

  .wallet>div:first-child {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }

  .wallet>div:last-child {
    display: flex;
    margin-bottom: 3rem;
  }

  .wallet button {
    width: 100%;
  }
}


.col h3 {
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}

.col span {
  font-size: 2rem;
  font-weight: 900;
  color: var(--so);
}

.col p {
  font-size: 0.75rem;
  opacity: 0.75;
}

.wallet button {
  text-transform: uppercase;
  height: 2.5rem;
  background-color: var(--so);
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 900;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.wallet button:hover {
  transform: translateX(0.5rem);
}













/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */




.report {
  position: absolute;
  inset: 0;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
  display: flex;
  color: white;
}

.close-btn:hover {
  color: var(--so);
}


/* Content container */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Icon */
.icon {
  color: var(--so);
  font-size: 2.5rem;
}

/* Amount */
.amount {
  font-weight: 900;
  font-size: 2.5rem;
}

/* Description */
.description {
  width: 66%;
  font-size: 0.75rem;
}

.highlight {
  color: var(--so);
}

/* Share icon */
.share a {
  color: var(--so);
  cursor: pointer;
  font-size: 1rem;
}








/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */




/* Overlay for mobile Phantom alert */
.phantom-alert {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  padding: 2rem;
  z-index: 9999;
  display: none; /* default hidden */
}

.phantom-alert h1 {
  text-transform: uppercase;
  color: var(--so);
}

.phantom-alert button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--so);
  border: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 900;
}
